{% extends 'base.html' %}

{% block content %}

<div class="padding_reg_login">

<form method="POST" class="form330p15mauto" novalidate>{% csrf_token %}
  <h1 class="form_title mb-4">Change Password</h1>
  <div>
    <input name="old_password" class="form_controlA" placeholder="Old password" type="password" id="id_old_password" required="true">
    {% if form.errors %}    
      {% if 'old_password' in form.errors %}
        {% for error in form.old_password.errors %}          
            <text class="error_text_form">
            {{error}}
            </text>          
        {% endfor %}
      {% endif %}
    {% endif %}
   </div> 

   

   <div class="pt-3">   
      <input name="new_password1" class="form_controlA" placeholder="New password" type="password" id="id_new_password1" required="true">
    {% if form.errors %}    
      {% if 'new_password1' in form.errors %}
        {% for error in form.new_password1.errors %}          
            <text class="error_text_form">
            {{error}}
            </text>          
        {% endfor %}
      {% endif %}
    {% endif %}

  </div>

   <div class="pt-3">
    <input name="new_password2" class="form_controlA" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
    {% if form.errors %}    
      {% if 'new_password2' in form.errors %}
        {% for error in form.new_password2.errors %}          
            <text class="error_text_form">
            {{error}}
            </text>          
        {% endfor %}
      {% endif %}
    {% endif %}
  </div>



<div class="pt-3 pb-2">
  <button class="btn btn-lg form_button" type="submit">Submit Change</button> 
</div>

</form>
</div>



{% endblock %}