{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
  <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
    <div class="card mx-auto">
      <div class="card-header custom_bg_blue">
        <h1 class="h3 mb-3 w-100 text-center fw-bold mt-2">Join in!</h1>
      </div>
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}

          <div class="my-3">
            <label for="id_first_name" class="visually-hidden">First Name</label>
            <input type="text" id="id_first_name" name="first_name" class="form-control" placeholder="First Name" required autofocus>
          </div>

          <div class="my-3">
            <label for="id_last_name" class="visually-hidden">Last Name</label>
            <input type="text" id="id_last_name" name="last_name" class="form-control" placeholder="Last Name" required>
          </div>

          <div class="my-3">
            <label for="id_username" class="visually-hidden">Username</label>
            <input type="text" id="id_username" name="username" class="form-control" placeholder="Username" required>
            <div class="text-center">
              <text class="helptext text-center">150 characters or fewer. Letters, digits and @/./+/-/_ only.</text>
            </div>

          </div>

          <div class="my-3">
            <label for="id_zoom" class="visually-hidden">Zoom</label>
            <input type="text" id="id_zoom" name="zoom" class="form-control" placeholder="Zoom Account">
          </div>

          <div class="my-3">
            <label for="id_email" class="visually-hidden">Email</label>
            <input type="email" id="id_email" name="email" class="form-control" placeholder="Email">
          </div>

          <div class="my-3">
            <label for="id_password1" class="visually-hidden">Password</label>
            <input type="password" id="id_password1" name="password1" class="form-control" placeholder="Password" required autocomplete="new-password">
            <div class="helptext mx-auto ps-3">
              <ul>
                <li>
                  <text>Your password can’t be too similar to your other personal information.</text>
                </li>
                <li>
                  <text>Your password must contain at least 8 characters.</text>
                </li>
                <li>
                  <text>Your password can’t be a commonly used password.</text>
                </li>
                <li>
                  <text>Your password can’t be entirely numeric.</text>
                </li>
              </ul>
            </div>
          </div>

          <div class="my-3">
            <div class="helptext pb-2">Enter the same password as before, for verification.</div>
            <label for="id_password2" class="visually-hidden">Confirm Password</label>
            <input type="password" id="id_password2" name="password2" class="form-control" placeholder="Confirm Password" required autocomplete="new-password">
          </div>

          <div class="my-3">
            <h6 for="id_roleId fw-bold">I'll be joining as: (required)</h6>

            <select name="roleId" class="form-control" id="id_roleId" required>
              <option value="" selected disabled class="muted">----------</option>
              {% for role in roles %}

              <option value="{{role.id}}">{{role.name}}</option>

              {% endfor %}

            </select>

          </div>

          <button class="w-100 btn btn-lg btn-primary my-3" type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
