:root {
  --ebb-yellow: hsl(45,100%,62.5%) ;
  --ebb-yellow-plus: hsl(45,100%,50%) ;

  --ebb-blue: hsl(195,100%,75%) ;
  --ebb-blue-plus: hsl(195,100%,62.5%) ;

  --ebb-grey: hsl(120,5%,93.75%) ;
  --ebb-grey-plus: hsl(120,5%,87.5%) ;
}

.btn-info {
  background-color: var(--ebb-blue) ;
  border-color: var(--ebb-blue) ;
}
.btn-info:hover {
  background-color: var(--ebb-blue-plus) ;
  border-color: var(--ebb-blue-plus) ;
}
.btn-info:focus {
  background-color: var(--ebb-blue-plus);
  border-color: var(--ebb-blue);
  box-shadow: 0 0 0.25em var(--ebb-blue);
}

.btn-warning {
  background-color: var(--ebb-yellow) ;
  border-color: var(--ebb-yellow) ;
}
.btn-warning:hover {
  background-color: var(--ebb-yellow-plus) ;
  border-color: var(--ebb-yellow-plus) ;
}
.btn-warning:focus {
  background-color: var(--ebb-yellow-plus);
  border-color: var(--ebb-yellow);
  box-shadow: 0 0 0.25em var(--ebb-yellow);
}

.bg-light {
  background-color: var(--ebb-grey) !important ;
}
.card {
  background-color: var(--ebb-blue) ;
}

.row {
  margin:1em auto !important ;
}

body {
  background-image: url('./../images/pattern_triangle.png');
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

/* Banner CSS */
.banner {
  background-color: #fdcc2d;
  background-color: var(--ebb-yellow) ;
  padding: 0.5em;
}

.btn {
  padding: 0.5em 1em;
  margin: 0 0.5em;
  box-shadow: 1pt 1pt 1pt rgba(0,0,0,0.25);
}
.login {
  color: white;
  float: right;
}
.login:hover {
  color:white;
}

/* Navbar CSS */
.navbar {
  border-bottom: 1pt solid #eee;
  box-shadow:
    0 2pt 2pt rgba(0,0,0,0.25),
    0 2pt 2pt rgba(255,255,255,0.75) inset;
  /*! padding: 0.5em; */
  /*! position: relative; */
  box-sizing: border-box;
}

.navbar li a:hover {
  background: #8cdbeb;
  background-color: var(--ebb-blue) ;
}
.navbar li a:active {
  background: #fdcc2d;
  background-color: var(--ebb-yellow) ;
}
.navbar li a:focus {
  background: #fdcc2d;
  background-color: var(--ebb-yellow) ;
}

.navbar .container-fluid {
  padding: 0 ;
  flex-flow: row-reverse wrap;
  box-sizing: border-box;
}

.navbar-brand {
  font-family: 'Amiko', sans-serif;
  /*! font-size: 1.5rem; */
  /*! padding-top: .4rem; */
  /*! padding-bottom: .25rem; */
  /*! padding-left: .5em; */
  margin: 0 1rem;
  padding: 0;
  box-shadow: -1pt -1pt 0 rgba(0,0,0,0.25), 1pt 1pt 0 rgba(255,255,255,0.25);
  border-radius: 0.125em;
  overflow: hidden;
}
.navbar-brand img {
  /*! box-shadow: 1pt 1pt 1pt rgba(0,0,0,0.25) inset; */
  /*! opacity: 0; */
}

.navbar-toggler {
  margin: 0 0.5rem;
  padding: 0.5em;
}

.navbar-collapse {
  position:absolute;
  /*! width: 100%; */
  /*! display: flex; */
  /*! justify-content: space-between; */
}

.navbar-collapse.show, .navbar-collapse.collapsing {
  position:absolute;
  display: inline-block;
  top: 5em;
  background: #f8f9fa;
  background: var(--ebb-yellow);
  /*! border: 1pt solid black; */
  /*! width: auto; */
  /*! padding: 1em; */
  left: 0;
  box-shadow: 0 2pt 2pt rgba(0,0,0,0.25);
  max-height: 100vh;
}

@media (min-width: 992px) {
  .navbar-collapse.show, .navbar-collapse.collapsing {
    top: auto ;
    box-shadow: none;
    background: none;
  }
}

.navbar-nav {
  width:100%;
  justify-content: space-between;
}
.navbar-nav .nav-link {
  padding: 0.5em 2em;
  border-radius: 0.125em;
}
.navbar-nav .nav-link:hover {
  background: #8cdbeb;
  background: var(--ebb-blue);
  box-shadow: 1pt 1pt 1pt rgba(0,0,0,0.25);
}
.navbar-nav .nav-link:active {
  background: #fdcc2d;
  background: var(--ebb-yellow);
}
.navbar-nav .nav-link:focus {
  background: #fdcc2d;
  background: var(--ebb-yellow);
}
.navbar-nav .dropdown-menu.show {
  border: 0;
  background: #f8f9fa;
  background: var(--ebb-grey);
  border-radius:0;
  margin: 0;
  padding: 0;
  /*! padding-left: 1em; */
}
.navbar-nav .dropdown-menu.show .dropdown-item {
  padding-left:2em;
}
.navbar-nav .dropdown-menu.show .dropdown-item:hover {
  background:#fdcc2d;
  background: var(--ebb-yellow);
}
.navbar-nav .dropdown-menu.show .dropdown-item:active {
  background:#8cdbeb;
  background: var(--ebb-blue);
  color:black;
}
@media (min-width: 992px) {
  .navbar-nav {
    padding: 0 10em;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0.5em 1em;
  }
  .navbar-nav .dropdown-menu.show {
    box-shadow: 2pt 2pt 2pt rgba(0,0,0,0.25);
  }
}


.last_item {
  padding-right: 10px;
  /*! left: -50px; */
}

/* .nav-item .text-color {
  color: rgb(167, 167, 167);
} */

/*Custom card headers*/
.custom_bg_blue {
  background-color: #8cdbeb;
  background: var(--ebb-blue);
}

.main_content {
  padding: 1.5rem;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}

.main_content .container-fluid {
  padding: 0;
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
}
.main_content .container-fluid .text-center {
  display:flex;
  flex-flow:column;
  justify-content: space-around;
  height: 100%;
  flex: 1 1 auto;
}


/* Home */
.home_buttons {
  width: 125px;
  margin: 1em;
}

.home_welcome {
  box-shadow: 2pt 2pt 2pt rgba(0,0,0,0.25);
  border: 0;
}
.home_welcome > h1 {
  text-shadow: 1pt 1pt 1pt rgba(0,0,0,0.25);
}


.zoom {
  background-color: lightgray;
  text-align: center;
  margin: 0 1.5rem 0;
  border: 1px solid black;
}

.dark {
  background-color: black;
}

.signIn {
  color: black;
}

/* Login Page */
.custom-color {
  background-color: #f857b0;
  background: var(--ebb-yellow);
  border: none;
}

/* Register Page */
.custom-color {
  background-color: #f857b0;
  background: var(--ebb-yellow);
  border: none;
}

/* Staff Exit Page */
.bullet {
  list-style-type: none;
}

/* Student Exit Page */
#farewell {
  background-color: lightgrey;
  width: 600px;
  border-radius: 20px;
  margin-top: 50px;
}

/* Survey Page */
#survey {
  background-color: lightgrey;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-top: 40px;
}

.question {
  padding: 5px;
}

#submitButton {
  margin-top: 5px;
}

/* Volunteer Exit Page */
#goodbye {
  background-color: lightgrey;
  width: 600px;
  height: 300px;
  border-radius: 20px;
  margin-top: 50px;
}

#joinButton {
  margin-top: 5px;
}

/* Welcome Page */
#welcome {
  background-color: lightgrey;
  width: 600px;
  height: 300px;
  border-radius: 20px;
  margin-top: 50px;
}

/* Footer CSS */
footer {
  padding: 40px;
  border-top: 1px solid #eee;
  /* background-color: white; */
  box-shadow: 0 2pt 2pt rgba(255,255,255,0.75) inset;
}
footer .row > * {
  display:flex;
  flex-flow:column;
  align-items: center ;
  justify-content: space-around;
}

p {
  color: rgb(167, 167, 167);
}

#contact {
  width: 200px;
}

.icon-group {
  color: #fdcc2d;
  color: var(--ebb-yellow);
  /*! display: inline; */
  /*! margin: 15px 15px 15px 15px; */
  /*! padding: 75px 75px 75px 75px; */
  display: flex;
  /*! flex-flow: row; */
  justify-content: space-between;
  width: 200px;
  margin: 1em;
}
.icon-group > * {
  display:inline-block;
}

.icon {
  display: inline-block;
  margin: 0;
  padding: 0;
}